## 리스트 (list)
- 리스트는 모든 자료형(숫자,문자,boolean 등)을 모두 넣을 수 있음
- 리스트 = [값,값,값] 형태

In [1]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [3]:
study = ['wed',13,13.0,True,False]
print(study)

['wed', 13, 13.0, True, False]

### 리스트 만드는법
- a=[]
- list()

In [8]:
b=list()
print(b)

[]

### range 함수
- range는 범위의 개념
- range 함수는 연속된 숫자들을 쉽게 만들어 주는 것
- 연속된 숫자(정수)를 빠르게 만들어주는 함수

In [12]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
range(10)

range(0, 10)

- range 안에 있는 값을 확인하기 위해 list에 넣어야함
- 범위를 지정하지 않으면 0부터 시작

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

- range(시작,끝,증가폭)

In [17]:
list(range(5,11,2))

[5, 7, 9]

## 튜플 (Tuple)
- 튜플 = (값,값,값) 의 형태
- 튜플도 리스트와 동일하게 모든 자료형의 값이 다 들어갈 수 있음
    - 튜플은 값을 수정하거나 삭제하거나 변경이 불가능함
    - 변경하지 않는 고정된 데이터를 보관할 때 사용

In [20]:
c = 1,2,3
print(c)

(1, 2, 3)

In [21]:
d = (1,2,3)
print(d)

(1, 2, 3)

- c와 d가 모두 동일한 튜플 형태로 출력

In [23]:
e = tuple(range(0,10,2))
print(e)

(0, 2, 4, 6, 8)

In [26]:
f = list(range(0,10,2))
print(f)

[0, 2, 4, 6, 8]

- 리스트를 튜플로, 튜플을 리스트로 만들 수 있음

In [32]:
print(list(e))

[0, 2, 4, 6, 8]

In [33]:
print(tuple(f))

(0, 2, 4, 6, 8)

- 리스트나 튜플내에 문자열을 넣을 경우

In [34]:
print(list('abcd'))

['a', 'b', 'c', 'd']

In [35]:
print(tuple('abcd'))

('a', 'b', 'c', 'd')

## 시퀀스 자료형
- 시퀀스 자료형은 연속적이라는 뜻 (값이 연속적으로 묶여져 있는 경우)
- 리스트나 튜플 같이 값이 여러개가 존재하고 값의 순서가 생기는 것

## len() 함수 (length)
- 요소 개수를 세는 함수
- len(시퀀스 객체)

In [36]:
g = [1,2]
h = [1,2,3,4,5]

print(len(g))
print(len(h))

2
5

In [37]:
print(len('abcde'))

5

## 인덱스 (Index)
- 시퀀스 자료들은 다양한 자료들이 있기 때문에 순서가 필요
- 리스트안에서도 먼저 들어온 값과 나중에 들어온 값을 구분
- python에서 리스트를 만들면서 스스로 순서를 카운팅하게 되고 값의 순서를 '인덱스'라고 함
- 시퀀스객체[인덱스]

In [45]:
i = [10,20,30]
print(i[0])
print(i[1])
print(i[2])

10
20
30

In [46]:
j = (30,20,10)
print(j[0])
print(j[1])
print(j[2])

30
20
10

- 인덱스의 순서는 0,1,2,3 순서
- 인덱스를 역수로 하면 맨 오른쪽 끝 값이 -1 부터 시작

In [47]:
print(i[-1])
print(j[-1])

30
10

- 인덱스를 이용하여 해당 인덱스의 값을 수정할 수 있음 (튜플은 수정 불가능)
- 할당하는 값과 인덱스의 개수가 동일해야함

In [48]:
i[0] = 100
print(i)

[100, 20, 30]

In [4]:
j = [0]*1
j[0] = 100
print(j)

[100]

## 인덱스를 기준으로 슬라이싱
- range 함수와 동일
- 시퀀스객체[시작인덱스:끝인덱스]

In [51]:
k = list(range(100))

In [55]:
print(k[0:20])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
print(k[0:0])

[]

In [59]:
print(k[-1])

99

In [60]:
print(k[0:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [61]:
l = [100,200,300,400]

In [64]:
del l[0:2]
print(l)

[300, 400]

## 예시

In [65]:
import seaborn as sns
tt = sns.load_dataset('titanic')

In [66]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [75]:
tt_30 = tt[tt['age'] >= 30]
print(tt_30.head())

    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1          1       1  female  38.0      1      0  71.2833        C  First
3          1       1  female  35.0      1      0  53.1000        S  First
4          0       3    male  35.0      0      0   8.0500        S  Third
6          0       1    male  54.0      0      0  51.8625        S  First
11         1       1  female  58.0      0      0  26.5500        S  First

      who  adult_male deck  embark_town alive  alone
1   woman       False    C    Cherbourg   yes  False
3   woman       False    C  Southampton   yes  False
4     man        True  NaN  Southampton    no   True
6     man        True    E  Southampton    no   True
11  woman       False    C  Southampton   yes   True

In [ ]:
print(tt_30)

In [76]:
men = tt[tt['sex'] == 'male']
print(men.head())

   survived  pclass   sex   age  sibsp  parch     fare embarked  class    who  \
0         0       3  male  22.0      1      0   7.2500        S  Third    man
4         0       3  male  35.0      0      0   8.0500        S  Third    man
5         0       3  male   NaN      0      0   8.4583        Q  Third    man
6         0       1  male  54.0      0      0  51.8625        S  First    man
7         0       3  male   2.0      3      1  21.0750        S  Third  child

   adult_male deck  embark_town alive  alone
0        True  NaN  Southampton    no  False
4        True  NaN  Southampton    no   True
5        True  NaN   Queenstown    no   True
6        True    E  Southampton    no   True
7       False  NaN  Southampton    no  False